@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  position: relative;
}
.Dashboard_header {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  position: relative;
}
.Home {
  height: 80%;
  top: 142px;
  left: 80px;
  right: 80px;
  background: url(Images/Background.png);
  background-color: rgba(199, 199, 199, 0.5);
  position: absolute;
  border-radius: 30px;
}
.header h1 {
  font-size: 40px;
  margin: 10px 0 30px;
  line-height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header p {
  font-size: 21px;
  margin: 10px 0 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Company {
  color: black;
  text-decoration: none;
  color: rgba(33, 67, 97, 0.753);
  font-size: 28px;
  font-weight: 510;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  display:list-item;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 80px;
  border-radius: 8px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 17.5px;
  font-weight: 510;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #49c858;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: black;
  position: absolute;
  border-radius: 15px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box1 {
  width: 90%;
  color: black;
  position: absolute;
  border-radius: 15px;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 40px;
  margin: 10px 0 30px;
  line-height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text-box p {
  font-size: 21px;
  margin: 10px 0 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(52, 167, 190);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(52, 167, 190);
  background: rgb(52, 167, 190);
}
nav .fa-solid {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 18px;
  }
  .nav-links ul li {
    display: block;
  }
  nav .fa-solid {
    display: block;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links {
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul {
    padding: 30px;
  }
  .Home {
    left: 0px;
    right: 0px;
    border-radius: 0px;
  }
}
/*--------- Contact---------*/

.About {
  width: 100%;
  background-color: rgba(62, 78, 117, 0.65);
  margin: auto;
  text-align: center;
  padding: 20px;
}
.About h1 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.About p {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fa-brands {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
@media (max-width: 700px) {
}

body,
input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
    z-index: 6;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container::before{
  content: '';  
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  background-image: linear-gradient(-45deg, hwb(31 7% 12%) 0%, #FF9933 100%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 6;
  transition: 1.8s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;  
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #4590b1;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.btn:hover{
    background-color: #138808;
}

.social-text{
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icons{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
}

.social-icons:hover{
    color: #20dbc2;
    border-color: #00bfa6;
}

.signin-signup {
    position: relative;
    top: 5%;
    left: 10%;
    transform: translate(-50% -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

.signup-signup {
    position: absolute;
    top: 25%;
    right: 60%;
    transform: translate(-50% -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form.sign-in-form{
   z-index: 2; 
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.image{
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 7;
}

.left-panel{
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
.panel p{
    font-size: 0.95rem;
    padding: 0.75rem 0;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
} 

/*Animation*/

.container.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translate(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;
    
}

.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: 15%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}